<app-list *ngIf="isSelect === 'true'; else Create"></app-list>
<ng-template #Create>
  <input placeholder="XML File" [(ngModel)]="xml" />
  <nz-select
    nzShowSearch
    nzAllowClear
    nzPlaceHolder="Select Table"
    [(ngModel)]="selectedValue"
  >
    <nz-option nzLabel="SKU" nzValue="SKU"></nz-option>
    <nz-option nzLabel="SKU Group" nzValue="SKU Group"></nz-option>
    <nz-option nzLabel="Order" nzValue="Order"></nz-option>
  </nz-select>
  <button nz-button nzType="primary" (click)=Mapping()>Mapping Table</button>
</ng-template>
