nz-content {
    padding: 0 50px;
}

button {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.inner-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
}

nz-footer {
    text-align: center;
}