<nz-layout>
  <nz-content>
    <button nz-button (click)="UpdateTree()" nzType="primary">Update</button>
    <button nz-button (click)="CreateTree()" nzType="primary">Create</button>
    <div class="inner-content">
      <app-tree *ngIf="isEdit === 'true'; else ngList" [xml]="xmlFile"></app-tree>
      <ng-template #ngList>
        <app-create
          (SentXML)="GetXML($event)"
          (EditConfirm)="EditConfirm($event)"
          [isSelect]="isSelect"
        ></app-create>
      </ng-template>
    </div>
  </nz-content>
  <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>
