<div nz-row>
  <nz-tree
    [nzData]="NodesRoot"
    [nzDraggable] = "Drag"
    nzBlockNode
    (nzOnDragLeave)="nzDrag($event)"
    (nzOnDrop)="nzDrop($event)"
    [nzTreeTemplate]="nzTreeTemplate" 
    nz-col nzSpan="10"
    (mouseover)="nzRootStart($event)"
  ></nz-tree>
  <nz-tree
    [nzData]="NodesInput"
    [nzDraggable] = true
    nzBlockNode
    [nzTreeTemplate]="nzTreeTemplate" 
    (nzOnDragLeave)="nzDrag($event)"
    (nzOnDragStart)="nzInputDragStart($event)"
    (nzOnDragEnd)="nzEventDragEnd($event)"
    nz-col nzSpan="10"	
  ></nz-tree>

  <ng-template #nzTreeTemplate let-node let-origin="origin">
    <span class="folder-name">{{ node.title }}</span>
    <span class="folder-desc"
      > {{ node.key }}</span
    >
  </ng-template>
</div>
<button nz-button (click)="SaveObj()" nzType="primary">Save</button>
